# SQL Alchemy Core

In [1]:
import sqlalchemy
sqlalchemy.__version__

'1.4.44'

In [3]:
import warnings
warnings.filterwarnings('ignore')

SQLAlchemy core includes: 
- SQL rendering engine, 
- DBAPI integration, 
- Transaction integration, and 
- Schema description services. 

SQLAlchemy core uses SQL Expression Language that provides a schema-centric usage paradigm whereas SQLAlchemy ORM is a domain-centric mode of usage.

## Connecting to Database

In [4]:
#for sqlite
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, scoped_session
from threading import Thread

In [4]:
engine = create_engine('sqlite:///college.db', echo = True)

In [49]:
#using this instead
DATABASE_CONNECTION_INFO = 'sqlite:///college.db'
engine = create_engine(DATABASE_CONNECTION_INFO, echo=False)
DBSession = scoped_session(
    sessionmaker(
        autoflush=True,
        autocommit=False,
        bind=engine
    )
)

In [3]:
#for mysql
engine = create_engine("mysql://user:pwd@localhost/college",echo = True)

In [10]:
#To specifically mention DB-API to be used for connection
#mysql+pymysql://<username>:<password>@<host>/<dbname>

Some important methods of Engine class are:
- connect() -> Returns connection object
- execute() -> Executes a SQL statement construct
- begin() -> Returns a context manager delivering a Connection with a Transaction established. Upon successful operation, the Transaction is committed, else it is rolled back
- dispose() -> Disposes of the connection pool used by the Engine
- driver() -> Driver name of the Dialect in use by the Engine
- table_names() -> Returns a list of all table names available in the database
- transaction() -> Executes the given function within a transaction boundary

## Creating Table

In [6]:
from sqlalchemy import MetaData
meta = MetaData()

SQLAlchemy matches Python data to the best possible generic column data types defined in it. Some of the generic data types are:
- BigInteger
- Boolean
- Date
- DateTime
- Float
- Integer
- Numeric
- SmallInteger
- String
- Text
- Time

In [5]:
#to define a table
from sqlalchemy import Table, Column, Integer, String, MetaData
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

In [7]:
#to create a table
meta.create_all(engine)

2022-11-28 10:54:31,720 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-28 10:54:31,722 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2022-11-28 10:54:31,723 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-28 10:54:31,724 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("students")
2022-11-28 10:54:31,725 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-28 10:54:31,727 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	lastname VARCHAR,
	PRIMARY KEY (id)
)


2022-11-28 10:54:31,728 INFO sqlalchemy.engine.Engine [no key 0.00101s] ()
2022-11-28 10:54:31,737 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
#complete code
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)

meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String),
)
meta.create_all(engine)

2022-11-28 14:45:35,257 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-28 14:45:35,260 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2022-11-28 14:45:35,260 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-28 14:45:35,262 INFO sqlalchemy.engine.Engine COMMIT

## SQL Expressions

In [9]:
ins = students.insert().values(name = 'Karan')
str(ins)

'INSERT INTO students (name) VALUES (:name)'

In [10]:
ins.compile().params

{'name': 'Karan'}

In [11]:
ins2 = students.insert().values(id=1, name='Ali', lastname='Akbar')
print(str(ins2))
print(ins2.compile().params)

INSERT INTO students (id, name, lastname) VALUES (:id, :name, :lastname)
{'id': 1, 'name': 'Ali', 'lastname': 'Akbar'}

## Executing Expression

In [8]:
conn = engine.connect()

In [13]:
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
result = conn.execute(ins)

2022-11-28 10:54:52,797 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2022-11-28 10:54:52,799 INFO sqlalchemy.engine.Engine [generated in 0.00148s] ('Ravi', 'Kapoor')
2022-11-28 10:54:52,802 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
conn.close

In [15]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String

engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

ins = students.insert()
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')

conn = engine.connect()
result = conn.execute(ins)

2022-11-28 10:55:27,090 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2022-11-28 10:55:27,091 INFO sqlalchemy.engine.Engine [generated in 0.00084s] ('Ravi', 'Kapoor')
2022-11-28 10:55:27,108 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
result.inserted_primary_key

In [17]:
#insert many values
conn.execute(students.insert(), [
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
])

2022-11-28 10:55:32,639 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2022-11-28 10:55:32,641 INFO sqlalchemy.engine.Engine [generated in 0.00129s] (('Rajiv', 'Khanna'), ('Komal', 'Bhandari'), ('Abdul', 'Sattar'), ('Priya', 'Rajhans'))
2022-11-28 10:55:32,643 INFO sqlalchemy.engine.Engine COMMIT

## Selecting Rows

In [28]:
s = students.select()
str(s)

'SELECT students.id, students.name, students.lastname \nFROM students'

In [29]:
result = conn.execute(s)

2022-11-28 11:01:49,927 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2022-11-28 11:01:49,928 INFO sqlalchemy.engine.Engine [cached since 130.3s ago] ()

In [24]:
row = result.fetchone()

In [30]:
for row in result:
    print(row)

(1, 'Ravi', 'Kapoor')
(2, 'Ravi', 'Kapoor')
(3, 'Rajiv', 'Khanna')
(4, 'Komal', 'Bhandari')
(5, 'Abdul', 'Sattar')
(6, 'Priya', 'Rajhans')

In [32]:
s = students.select().where(students.c.id>2)
result = conn.execute(s)

for row in result:
    print(row)

2022-11-28 11:11:58,421 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id > ?
2022-11-28 11:11:58,422 INFO sqlalchemy.engine.Engine [generated in 0.00125s] (2,)
(3, 'Rajiv', 'Khanna')
(4, 'Komal', 'Bhandari')
(5, 'Abdul', 'Sattar')
(6, 'Priya', 'Rajhans')

In [36]:
from sqlalchemy.sql import select
s = select([students]).where(students.c.id>2)
result = conn.execute(s)

for row in result:
    print(row)

2022-11-28 11:14:15,465 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id > ?
2022-11-28 11:14:15,467 INFO sqlalchemy.engine.Engine [cached since 137s ago] (2,)
(3, 'Rajiv', 'Khanna')
(4, 'Komal', 'Bhandari')
(5, 'Abdul', 'Sattar')
(6, 'Priya', 'Rajhans')

## Using Textual SQL

In [10]:
from sqlalchemy import text
t = text("SELECT * FROM students")
result = conn.execute(t)

2022-11-28 14:45:49,815 INFO sqlalchemy.engine.Engine SELECT * FROM students
2022-11-28 14:45:49,816 INFO sqlalchemy.engine.Engine [generated in 0.00081s] ()

In [11]:
for row in result:
    print(row)

(1, 'Ravi', 'Kapoor')
(2, 'Ravi', 'Kapoor')
(3, 'Rajiv', 'Khanna')
(4, 'Komal', 'Bhandari')
(5, 'Abdul', 'Sattar')
(6, 'Priya', 'Rajhans')

In [12]:
from sqlalchemy.sql import text
s = text("select students.name, students.lastname from students where students.name between :x and :y")
conn.execute(s, x = 'A', y = 'L').fetchall()

2022-11-28 14:47:31,647 INFO sqlalchemy.engine.Engine select students.name, students.lastname from students where students.name between ? and ?
2022-11-28 14:47:31,648 INFO sqlalchemy.engine.Engine [generated in 0.00113s] ('A', 'L')

[('Komal', 'Bhandari'), ('Abdul', 'Sattar')]

In [14]:
from sqlalchemy.sql import text
s = text("select students.name, students.lastname from students where students.name between 'A' and 'L'")
conn.execute(s).fetchall()

2022-11-28 14:49:47,621 INFO sqlalchemy.engine.Engine select students.name, students.lastname from students where students.name between 'A' and 'L'
2022-11-28 14:49:47,621 INFO sqlalchemy.engine.Engine [generated in 0.00099s] ()

[('Komal', 'Bhandari'), ('Abdul', 'Sattar')]

In [20]:
from sqlalchemy import bindparam
stmt = text("SELECT * FROM students WHERE students.name BETWEEN :x AND :y")

stmt = stmt.bindparams(
   bindparam("x", type_= String), 
   bindparam("y", type_= String)
)

result = conn.execute(stmt, {"x": "A", "y": "L"})

2022-11-28 14:53:24,289 INFO sqlalchemy.engine.Engine SELECT * FROM students WHERE students.name BETWEEN ? AND ?
2022-11-28 14:53:24,290 INFO sqlalchemy.engine.Engine [cached since 44.9s ago] ('A', 'L')

In [21]:
for row in result:
    print(row)

(4, 'Komal', 'Bhandari')
(5, 'Abdul', 'Sattar')

The text() function also be produces fragments of SQL within a select() object that 
accepts text() objects as an arguments. The “geometry” of the statement is provided by 
select() construct , and the textual content by text() construct. We can build a statement 
without the need to refer to any pre-established Table metadata.

In [23]:
from sqlalchemy.sql import select
s = select([text("students.name, students.lastname from students")]).where(text("students.name between :x and :y"))
conn.execute(s, x = 'A', y = 'L').fetchall()

2022-11-28 14:54:14,119 INFO sqlalchemy.engine.Engine SELECT students.name, students.lastname from students
WHERE students.name between ? and ?
2022-11-28 14:54:14,120 INFO sqlalchemy.engine.Engine [generated in 0.00145s] ('A', 'L')

[('Komal', 'Bhandari'), ('Abdul', 'Sattar')]

In [24]:
from sqlalchemy import and_
from sqlalchemy.sql import select
s = select([text("* from students")]) \
.where(
   and_(
      text("students.name between :x and :y"),
      text("students.id>2")
   )
)
conn.execute(s, x = 'A', y = 'L').fetchall()

2022-11-28 14:55:07,075 INFO sqlalchemy.engine.Engine SELECT * from students
WHERE students.name between ? and ? AND students.id>2
2022-11-28 14:55:07,077 INFO sqlalchemy.engine.Engine [generated in 0.00158s] ('A', 'L')

[(4, 'Komal', 'Bhandari'), (5, 'Abdul', 'Sattar')]

## Using Aliases

In [25]:
from sqlalchemy.sql import alias
st = students.alias("a")

In [29]:
s = select([st]).where(st.c.id>4)
str(s)

'SELECT a.id, a.name, a.lastname \nFROM students AS a \nWHERE a.id > :id_1'

In [30]:
conn.execute(s).fetchall()

2022-11-28 15:18:47,398 INFO sqlalchemy.engine.Engine SELECT a.id, a.name, a.lastname
FROM students AS a
WHERE a.id > ?
2022-11-28 15:18:47,400 INFO sqlalchemy.engine.Engine [cached since 11.48s ago] (4,)

[(5, 'Abdul', 'Sattar'), (6, 'Priya', 'Rajhans')]

## Using UPDATE Expression

In [31]:
stmt = students.update().where(students.c.lastname == 'Khanna').values(lastname = 'Kapoor')

In [32]:
str(stmt)

'UPDATE students SET lastname=:lastname WHERE students.lastname = :lastname_1'

In [5]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', 
   meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

conn = engine.connect()
stmt=students.update().where(students.c.lastname=='Khanna').values(lastname='Kapoor')
conn.execute(stmt)

s = students.select()
conn.execute(s).fetchall()

2022-11-30 13:56:44,632 INFO sqlalchemy.engine.Engine UPDATE students SET lastname=? WHERE students.lastname = ?
2022-11-30 13:56:44,634 INFO sqlalchemy.engine.Engine [generated in 0.00224s] ('Kapoor', 'Khanna')
2022-11-30 13:56:44,636 INFO sqlalchemy.engine.Engine COMMIT
2022-11-30 13:56:44,640 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2022-11-30 13:56:44,641 INFO sqlalchemy.engine.Engine [generated in 0.00076s] ()

[(1, 'Ravi', 'Kapoor'),
 (2, 'Ravi', 'Kapoor'),
 (3, 'Rajiv', 'Kapoor'),
 (4, 'Komal', 'Bhandari'),
 (5, 'Abdul', 'Sattar'),
 (6, 'Priya', 'Rajhans')]

In [8]:
from sqlalchemy.sql.expression import update
stmt = update(students).where(students.c.lastname == 'Kapoor').values(lastname = 'Khanna')
conn.execute(stmt)

2022-11-30 14:00:42,117 INFO sqlalchemy.engine.Engine UPDATE students SET lastname=? WHERE students.lastname = ?
2022-11-30 14:00:42,117 INFO sqlalchemy.engine.Engine [cached since 237.5s ago] ('Khanna', 'Kapoor')
2022-11-30 14:00:42,120 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
s = students.select()
conn.execute(s).fetchall()

2022-11-30 14:00:45,640 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2022-11-30 14:00:45,642 INFO sqlalchemy.engine.Engine [cached since 241s ago] ()

[(1, 'Ravi', 'Khanna'),
 (2, 'Ravi', 'Khanna'),
 (3, 'Rajiv', 'Khanna'),
 (4, 'Komal', 'Bhandari'),
 (5, 'Abdul', 'Sattar'),
 (6, 'Priya', 'Rajhans')]

## Using DELETE Expression

In [13]:
stmt = students.delete()
str(stmt)

'DELETE FROM students'

In [15]:
stmt = students.delete().where(students.c.id > 2)
str(stmt)

'DELETE FROM students WHERE students.id > :id_1'

In [17]:
conn = engine.connect()
stmt = students.delete().where(students.c.lastname == 'Khanna')
conn.execute(stmt)

2022-11-30 14:07:21,146 INFO sqlalchemy.engine.Engine DELETE FROM students WHERE students.lastname = ?
2022-11-30 14:07:21,147 INFO sqlalchemy.engine.Engine [cached since 34.01s ago] ('Khanna',)
2022-11-30 14:07:21,149 INFO sqlalchemy.engine.Engine COMMIT

In [18]:
s = students.select()
conn.execute(s).fetchall()

2022-11-30 14:07:26,523 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2022-11-30 14:07:26,524 INFO sqlalchemy.engine.Engine [cached since 641.9s ago] ()

[(4, 'Komal', 'Bhandari'), (5, 'Abdul', 'Sattar'), (6, 'Priya', 'Rajhans')]

## Using Multiple Tables

In [52]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey
engine = create_engine('sqlite:///college.db', echo=True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

addresses = Table(
   'addresses', meta, 
   Column('id', Integer, primary_key = True), 
   Column('st_id', Integer, ForeignKey('students.id')), 
   Column('postal_add', String), 
   Column('email_add', String))

meta.create_all(engine)

2022-11-30 16:42:48,000 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-30 16:42:48,001 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2022-11-30 16:42:48,002 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-30 16:42:48,003 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("addresses")
2022-11-30 16:42:48,004 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-30 16:42:48,005 INFO sqlalchemy.engine.Engine COMMIT

In [30]:
conn.execute(students.insert(), [
   {'name':'Ravi', 'lastname':'Kapoor'},
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
])

2022-11-30 14:26:05,891 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2022-11-30 14:26:05,893 INFO sqlalchemy.engine.Engine [cached since 360.9s ago] (('Ravi', 'Kapoor'), ('Rajiv', 'Khanna'), ('Komal', 'Bhandari'), ('Abdul', 'Sattar'), ('Priya', 'Rajhans'))
2022-11-30 14:26:05,895 INFO sqlalchemy.engine.Engine COMMIT

In [31]:
conn.execute(addresses.insert(), [
   {'st_id':1, 'postal_add':'Shivajinagar Pune', 'email_add':'ravi@gmail.com'},
   {'st_id':1, 'postal_add':'ChurchGate Mumbai', 'email_add':'kapoor@gmail.com'},
   {'st_id':3, 'postal_add':'Jubilee Hills Hyderabad', 'email_add':'komal@gmail.com'},
   {'st_id':5, 'postal_add':'MG Road Bangaluru', 'email_add':'as@yahoo.com'},
   {'st_id':2, 'postal_add':'Cannought Place new Delhi', 'email_add':'admin@khanna.com'},
])

2022-11-30 14:26:07,521 INFO sqlalchemy.engine.Engine INSERT INTO addresses (st_id, postal_add, email_add) VALUES (?, ?, ?)
2022-11-30 14:26:07,522 INFO sqlalchemy.engine.Engine [cached since 207.2s ago] ((1, 'Shivajinagar Pune', 'ravi@gmail.com'), (1, 'ChurchGate Mumbai', 'kapoor@gmail.com'), (3, 'Jubilee Hills Hyderabad', 'komal@gmail.com'), (5, 'MG Road Bangaluru', 'as@yahoo.com'), (2, 'Cannought Place new Delhi', 'admin@khanna.com'))
2022-11-30 14:26:07,525 INFO sqlalchemy.engine.Engine COMMIT

In [34]:
from sqlalchemy.sql import select
s = select([students, addresses]).where(students.c.id == addresses.c.st_id)
result = conn.execute(s)

for row in result:
    print(row)

2022-11-30 14:28:28,105 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname, addresses.id AS id_1, addresses.st_id, addresses.postal_add, addresses.email_add
FROM students, addresses
WHERE students.id = addresses.st_id
2022-11-30 14:28:28,107 INFO sqlalchemy.engine.Engine [cached since 20.01s ago] ()
(1, 'Ravi', 'Kapoor', 1, 1, 'Shivajinagar Pune', 'ravi@gmail.com')
(1, 'Ravi', 'Kapoor', 2, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')
(3, 'Komal', 'Bhandari', 3, 3, 'Jubilee Hills Hyderabad', 'komal@gmail.com')
(5, 'Priya', 'Rajhans', 4, 5, 'MG Road Bangaluru', 'as@yahoo.com')
(2, 'Rajiv', 'Khanna', 5, 2, 'Cannought Place new Delhi', 'admin@khanna.com')

## Using Multiple Table UPDATES

In [35]:
stmt = students.update().\
values({
   students.c.name:'xyz',
   addresses.c.email_add:'abc@xyz.com'
}).\
where(students.c.id == addresses.c.id)

In [36]:
stmt = students.update().\
   values(name = 'xyz').\
   where(students.c.id == addresses.c.id)

In [39]:
s = students.select()
result = conn.execute(s)

for row in result:
    print(row)

2022-11-30 14:35:24,429 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2022-11-30 14:35:24,430 INFO sqlalchemy.engine.Engine [cached since 42.75s ago] ()
(1, 'Ravi', 'Kapoor')
(2, 'Rajiv', 'Khanna')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')

## Ordered UPDATES

In [ ]:
stmt = table1.update(preserve_parameter_order = True).\
   values([(table1.c.y, 20), (table1.c.x, table1.c.y + 10)])

## Multiple Table Deletes

In [ ]:
stmt = students.delete().\
   where(students.c.id == addresses.c.id).\
   where(addresses.c.email_add.startswith('xyz%'))
conn.execute(stmt)

##  Using JOINS

In [45]:
print(students.join(addresses))

students JOIN addresses ON students.id = addresses.st_id

In [46]:
j = students.join(addresses, students.c.id == addresses.c.st_id)

In [47]:
stmt = select([students]).select_from(j)

In [48]:
str(stmt)

'SELECT students.id, students.name, students.lastname \nFROM students JOIN addresses ON students.id = addresses.st_id'

In [65]:
from sqlalchemy import join
from sqlalchemy.sql import select

j = students.join(addresses, students.c.id == addresses.c.st_id)
stmt = select([students, addresses.c.email_add]).select_from(j)

result = conn.execute(stmt)
result.fetchall()

2022-11-30 15:23:13,671 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname, addresses.email_add
FROM students JOIN addresses ON students.id = addresses.st_id
2022-11-30 15:23:13,673 INFO sqlalchemy.engine.Engine [generated in 0.00135s] ()

[(1, 'Ravi', 'Kapoor', 'ravi@gmail.com'),
 (1, 'Ravi', 'Kapoor', 'kapoor@gmail.com'),
 (3, 'Komal', 'Bhandari', 'komal@gmail.com'),
 (5, 'Priya', 'Rajhans', 'as@yahoo.com'),
 (2, 'Rajiv', 'Khanna', 'admin@khanna.com')]

## Using Conjunctions

### and_()

In [50]:
from sqlalchemy import and_

print(
   and_(
      students.c.name == 'Ravi',
      students.c.id <3
   )
)

students.name = :name_1 AND students.id < :id_1

In [59]:
stmt = select([students]).where(and_(students.c.name == 'Ravi', students.c.id <3))
result = conn.execute(stmt)

2022-11-30 15:21:21,252 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.name = ? AND students.id < ?
2022-11-30 15:21:21,253 INFO sqlalchemy.engine.Engine [cached since 113.2s ago] ('Ravi', 3)

In [60]:
for row in result:
    print(row)

(1, 'Ravi', 'Kapoor')

### or_()

In [76]:
from sqlalchemy import and_, or_
stmt = select([students]).where(or_(students.c.name == 'Rajiv', students.c.id <3))
result = conn.execute(stmt)

2022-11-30 15:26:29,896 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.name = ? OR students.id < ?
2022-11-30 15:26:29,898 INFO sqlalchemy.engine.Engine [cached since 44.22s ago] ('Rajiv', 3)

In [74]:
for x in result:
    print(x)

(1, 'Ravi', 'Kapoor')
(2, 'Rajiv', 'Khanna')

In [77]:
d = [x for x in result]
print(d)

[(1, 'Ravi', 'Kapoor'), (2, 'Rajiv', 'Khanna')]

### asc_()

In [78]:
from sqlalchemy import asc
stmt = select([students]).order_by(asc(students.c.name))
str(stmt)

'SELECT students.id, students.name, students.lastname \nFROM students ORDER BY students.name ASC'

In [80]:
result = conn.execute(stmt)
for i in result:
    print(i)

2022-11-30 16:03:18,939 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students ORDER BY students.name ASC
2022-11-30 16:03:18,940 INFO sqlalchemy.engine.Engine [cached since 76.46s ago] ()
(4, 'Abdul', 'Sattar')
(3, 'Komal', 'Bhandari')
(5, 'Priya', 'Rajhans')
(2, 'Rajiv', 'Khanna')
(1, 'Ravi', 'Kapoor')

### desc()

In [84]:
from sqlalchemy import desc
stmt = select([students]).order_by(desc(students.c.name))
str(stmt)

'SELECT students.id, students.name, students.lastname \nFROM students ORDER BY students.name DESC'

In [85]:
result = conn.execute(stmt)
for i in result:
    print(i)

2022-11-30 16:05:51,812 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students ORDER BY students.name DESC
2022-11-30 16:05:51,814 INFO sqlalchemy.engine.Engine [generated in 0.00115s] ()
(1, 'Ravi', 'Kapoor')
(2, 'Rajiv', 'Khanna')
(5, 'Priya', 'Rajhans')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')

## between()

In [86]:
from sqlalchemy import between
stmt = select([students]).where(between(students.c.id,2,4))
print(stmt)

SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id BETWEEN :id_1 AND :id_2

In [87]:
result = conn.execute(stmt)
for i in result:
    print(i)

2022-11-30 16:06:48,856 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id BETWEEN ? AND ?
2022-11-30 16:06:48,858 INFO sqlalchemy.engine.Engine [generated in 0.00134s] (2, 4)
(2, 'Rajiv', 'Khanna')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')

## Using Functions

In [88]:
#now
from sqlalchemy.sql import func
result = conn.execute(select([func.now()]))
print (result.fetchone())

2022-11-30 16:07:48,873 INFO sqlalchemy.engine.Engine SELECT CURRENT_TIMESTAMP AS now_1
2022-11-30 16:07:48,874 INFO sqlalchemy.engine.Engine [generated in 0.00085s] ()
(datetime.datetime(2022, 11, 30, 8, 7, 48),)

In [89]:
#count
result = conn.execute(select([func.count(students.c.id)]))
print (result.fetchone())

2022-11-30 16:08:28,656 INFO sqlalchemy.engine.Engine SELECT count(students.id) AS count_1
FROM students
2022-11-30 16:08:28,657 INFO sqlalchemy.engine.Engine [generated in 0.00099s] ()
(5,)

In [92]:
from sqlalchemy.sql import func
result = conn.execute(select([func.max(students.c.id)]))
print (result.fetchone())

2022-11-30 16:12:47,957 INFO sqlalchemy.engine.Engine SELECT max(students.id) AS max_1
FROM students
2022-11-30 16:12:47,958 INFO sqlalchemy.engine.Engine [cached since 86.6s ago] ()
(5,)

In [96]:
conn.connect()

In [8]:
from sqlalchemy import *

In [9]:
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

employee = Table(
   'employee', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('marks', Integer),
)

meta.create_all(engine)

2022-11-30 16:19:28,326 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-30 16:19:28,329 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employee")
2022-11-30 16:19:28,330 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-30 16:19:28,332 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("employee")
2022-11-30 16:19:28,333 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-30 16:19:28,334 INFO sqlalchemy.engine.Engine
CREATE TABLE employee (
	id INTEGER NOT NULL,
	name VARCHAR,
	marks INTEGER,
	PRIMARY KEY (id)
)


2022-11-30 16:19:28,335 INFO sqlalchemy.engine.Engine [no key 0.00104s] ()
2022-11-30 16:19:28,343 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
conn = engine.connect()

conn.execute(employee.insert(), [
   {'name':'Al', 'marks' : 25},
   {'name':'El','marks' : 12},
   {'name':'Il','marks' : 200},
   {'name':'Ul','marks' : 1},
])

2022-11-30 16:24:08,547 INFO sqlalchemy.engine.Engine INSERT INTO employee (name, marks) VALUES (?, ?)
2022-11-30 16:24:08,548 INFO sqlalchemy.engine.Engine [generated in 0.00095s] (('Al', 25), ('El', 12), ('Il', 200), ('Ul', 1))
2022-11-30 16:24:08,568 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
s = employee.select()
result = conn.execute(s)

for i in result:
    print(i)

2022-11-30 16:24:10,177 INFO sqlalchemy.engine.Engine SELECT employee.id, employee.name, employee.marks
FROM employee
2022-11-30 16:24:10,178 INFO sqlalchemy.engine.Engine [cached since 38.9s ago] ()
(1, 'Al', None)
(2, 'El', None)
(3, 'Il', None)
(4, 'Ul', None)
(5, 'Al', 25)
(6, 'El', 12)
(7, 'Il', 200)
(8, 'Ul', 1)

In [16]:
#max
from sqlalchemy.sql import func
result = conn.execute(select([func.max(employee.c.marks)]))

print (result.fetchone())

2022-11-30 16:25:06,247 INFO sqlalchemy.engine.Engine SELECT max(employee.marks) AS max_1
FROM employee
2022-11-30 16:25:06,248 INFO sqlalchemy.engine.Engine [cached since 11.15s ago] ()
(200,)

In [23]:
#max
from sqlalchemy.sql import func
result = conn.execute(select([func.max(employee.c.marks)]))

print (result.fetchall())

2022-11-30 16:27:42,197 INFO sqlalchemy.engine.Engine SELECT max(employee.marks) AS max_1
FROM employee
2022-11-30 16:27:42,198 INFO sqlalchemy.engine.Engine [cached since 167.1s ago] ()
[(200,)]

In [24]:
#min
from sqlalchemy.sql import func
result = conn.execute(select([func.min(employee.c.marks)]))
print (result.fetchone())

2022-11-30 16:27:44,897 INFO sqlalchemy.engine.Engine SELECT min(employee.marks) AS min_1
FROM employee
2022-11-30 16:27:44,898 INFO sqlalchemy.engine.Engine [cached since 141.9s ago] ()
(1,)

In [25]:
#avg
from sqlalchemy.sql import func
result = conn.execute(select([func.avg(employee.c.marks)]))
print (result.fetchone())

2022-11-30 16:27:46,916 INFO sqlalchemy.engine.Engine SELECT avg(employee.marks) AS avg_1
FROM employee
2022-11-30 16:27:46,917 INFO sqlalchemy.engine.Engine [cached since 57.49s ago] ()
(103.25,)

In [39]:
result = conn.execute(select([func.max(employee.c.name).label('Name')]))
print (result.fetchall())

2022-11-30 16:32:11,967 INFO sqlalchemy.engine.Engine SELECT max(employee.name) AS "Name"
FROM employee
2022-11-30 16:32:11,969 INFO sqlalchemy.engine.Engine [cached since 225.9s ago] ()
[('Zee',)]

In [40]:
result = conn.execute(select([func.min(employee.c.name).label('Name')]))
print (result.fetchall())

2022-11-30 16:32:14,317 INFO sqlalchemy.engine.Engine SELECT min(employee.name) AS "Name"
FROM employee
2022-11-30 16:32:14,318 INFO sqlalchemy.engine.Engine [cached since 57.28s ago] ()
[('Al',)]

##  Using Set Operations

## union()

In [53]:
u = union(addresses.select().where(addresses.c.email_add.like('%@gmail.com')), addresses.select().where(addresses.c.email_add.like('%@yahoo.com')))

result = conn.execute(u)
result.fetchall()

2022-11-30 16:42:53,360 INFO sqlalchemy.engine.Engine SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE ? UNION SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE ?
2022-11-30 16:42:53,361 INFO sqlalchemy.engine.Engine [generated in 0.00139s] ('%@gmail.com', '%@yahoo.com')

[(1, 1, 'Shivajinagar Pune', 'ravi@gmail.com'),
 (2, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com'),
 (3, 3, 'Jubilee Hills Hyderabad', 'komal@gmail.com'),
 (4, 5, 'MG Road Bangaluru', 'as@yahoo.com')]

### union_all()

In [55]:
u = union_all(addresses.select().where(addresses.c.email_add.like('%@gmail.com')), addresses.select().where(addresses.c.email_add.like('%@yahoo.com')))

result = conn.execute(u)
result.fetchall()

2022-11-30 16:43:59,027 INFO sqlalchemy.engine.Engine SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE ? UNION ALL SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE ?
2022-11-30 16:43:59,028 INFO sqlalchemy.engine.Engine [generated in 0.00112s] ('%@gmail.com', '%@yahoo.com')

[(1, 1, 'Shivajinagar Pune', 'ravi@gmail.com'),
 (2, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com'),
 (3, 3, 'Jubilee Hills Hyderabad', 'komal@gmail.com'),
 (4, 5, 'MG Road Bangaluru', 'as@yahoo.com')]

### except_()

In [59]:
u = except_(addresses.select().where(addresses.c.email_add.like('%@gmail.com')), addresses.select().where(addresses.c.postal_add.like('%Jubilee%')))

result = conn.execute(u)
result.fetchall()

2022-11-30 16:48:04,264 INFO sqlalchemy.engine.Engine SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE ? EXCEPT SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.postal_add LIKE ?
2022-11-30 16:48:04,265 INFO sqlalchemy.engine.Engine [cached since 139s ago] ('%@gmail.com', '%Jubilee%')

[(1, 1, 'Shivajinagar Pune', 'ravi@gmail.com'),
 (2, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')]

### intersect()

In [61]:
u = intersect(addresses.select().where(addresses.c.email_add.like('%@gmail.com')), addresses.select().where(addresses.c.postal_add.like('%Pune')))

result = conn.execute(u)
result.fetchall()

2022-11-30 16:48:54,912 INFO sqlalchemy.engine.Engine SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.email_add LIKE ? INTERSECT SELECT addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM addresses
WHERE addresses.postal_add LIKE ?
2022-11-30 16:48:54,913 INFO sqlalchemy.engine.Engine [generated in 0.00106s] ('%@gmail.com', '%Pune')

[(1, 1, 'Shivajinagar Pune', 'ravi@gmail.com')]

## Declaring Mapping

First of all, create_engine() function is called to set up an engine object which is subsequently used to perform SQL operations. The function has two arguments, one is the name of database and other is an echo parameter when set to True will generate the activity log. If it doesn’t exist, the database will be created. In the following example, a SQLite database is created.

In [62]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///sales.db', echo = True)

A base class stores a catlog of classes and mapped tables in the Declarative system. This is called as the declarative base class. There will be usually just one instance of this base in a commonly imported module. The declarative_base() function is used to create base class. This function is defined in sqlalchemy.ext.declarative module.

In [63]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

Once base classis declared, any number of mapped classes can be defined in terms of it. Following code defines a Customer’s class. It contains the table to be mapped to, and names and datatypes of columns in it.

In [65]:
class Customers(Base):
   __tablename__ = 'customers'
   
   id = Column(Integer, primary_key = True)
   name = Column(String)
   address = Column(String)
   email = Column(String)

In [66]:
Base.metadata.create_all(engine)

2022-11-30 17:04:31,535 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-30 17:04:31,536 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customers")
2022-11-30 17:04:31,537 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-30 17:04:31,538 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("customers")
2022-11-30 17:04:31,539 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-30 17:04:31,541 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	id INTEGER NOT NULL,
	name VARCHAR,
	address VARCHAR,
	email VARCHAR,
	PRIMARY KEY (id)
)


2022-11-30 17:04:31,542 INFO sqlalchemy.engine.Engine [no key 0.00082s] ()
2022-11-30 17:04:31,550 INFO sqlalchemy.engine.Engine COMMIT

In [67]:
from sqlalchemy import Column, Integer, String
from sqlalchemy import create_engine
engine = create_engine('sqlite:///sales.db', echo = True)
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

class Customers(Base):
   __tablename__ = 'customers'
   id = Column(Integer, primary_key=True)

   name = Column(String)
   address = Column(String)
   email = Column(String)
Base.metadata.create_all(engine)

2022-11-30 17:04:45,606 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-30 17:04:45,607 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customers")
2022-11-30 17:04:45,608 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-30 17:04:45,609 INFO sqlalchemy.engine.Engine COMMIT