### **Env Set Up**

In [1]:
import peewee
from peewee import *

In [2]:
db = peewee.SqliteDatabase('mydatabasedb')

### **Database Class**

In [2]:
db = peewee.SqliteDatabase('mydatabase.db')
db = peewee.SqliteDatabase(
   'test.db', pragmas={'journal_mode': 'wal', 'cache_size': 10000,'foreign_keys': 1}
)

### **Model**

In [72]:
db = SqliteDatabase('mydatabase.db')
class User (Model):
   name=TextField()
   age=IntegerField()
   class Meta:
      database=db
      db_table='User'
User.create_table()

In [5]:
db = SqliteDatabase('mydatabase.db')
class User (Model):
   name=TextField()
   age=IntegerField()
   class Meta:
      database=db
      db_table='User'

User.create_table()
rec1=User(name="Rajesh", age=21)
rec1.save()

1

### **Field Class**

In [9]:
db = SqliteDatabase('mydatabase.db')
class Customer(Model):
   id=IntegerField(primary_key=True)
   name = TextField()
   address = TextField()
   phone = IntegerField()
   class Meta:
      database=db
      db_table='Customers'

class Invoice(Model):
   id=IntegerField(primary_key=True)
   invno=IntegerField()
   amount=IntegerField()
   custid=ForeignKeyField(Customer, backref='Invoices')
   class Meta:
      database=db
      db_table='Invoices'

db.create_tables([Customer, Invoice])

### **Insert a New Record**

In [11]:
rec1=User(name="Rajesh2", age=22)
rec1.save()

1

In [12]:
User.create(name="Kiran", age=19)

In [13]:
q = User.insert(name='Lata', age=20)
q.execute()

3

In [14]:
print (q.sql())
('INSERT INTO "User" ("name", "age") VALUES (?, ?)', ['Lata', 20])

('INSERT INTO "User" ("name", "age") VALUES (?, ?)', ['Lata', 20])

('INSERT INTO "User" ("name", "age") VALUES (?, ?)', ['Lata', 20])

In [15]:
db = SqliteDatabase('mydatabase.db')
class User (Model):
   name=TextField()
   age=IntegerField()
   class Meta:
      database=db
      db_table='User'

db.create_tables([User])
rec1=User(name="Rajesh", age=21)
rec1.save()
a=User(name="Amar", age=20)
a.save()
User.create(name="Kiran", age=19)
q = User.insert(name='Lata', age=20)
q.execute()
db.close()

True

In [16]:
rows=[{"name":"Rajesh3", "age":21}, {"name":"Amar2", "age":20}]
q=User.insert_many(rows)
q.execute()

9

In [17]:
print (q.sql())

('INSERT INTO "User" ("name", "age") VALUES (?, ?), (?, ?)', ['Rajesh3', 21, 'Amar2', 20])

In [18]:
a=User(name="Kiran2", age=19)
b=User(name='Lata2', age=20)
User.bulk_create([a,b])

In [19]:
db = SqliteDatabase('mydatabase.db')
class User (Model):
   name=TextField()
   age=IntegerField()
   class Meta:
      database=db
      db_table='User'

db.create_tables([User])
rows=[{"name":"Rajesh", "age":21}, {"name":"Amar", "age":20}]
q=User.insert_many(rows)
q.execute()
a=User(name="Kiran", age=19)
b=User(name='Lata', age=20)
User.bulk_create([a,b])
db.close()

True

In [21]:
db = SqliteDatabase('mydatabase.db')
class User (Model):
   name=TextField()
   age=IntegerField()
   class Meta:
      database=db
      db_table='User'
rows=User.select()
print (rows.sql())
for row in rows:
   print ("name: {} age: {}".format(row.name, row.age))
db.close()

('SELECT "t1"."id", "t1"."name", "t1"."age" FROM "User" AS "t1"', [])
name: Rajesh age: 21
name: Kiran age: 19
name: Lata age: 20
name: Amar age: 20

True

### **Filters**

In [22]:
rows=User.select().where (User.age>=20)
for row in rows:
   print ("name: {} age: {}".format(row.name, row.age))

name: Rajesh age: 21
name: Lata age: 20
name: Amar age: 20

In [23]:
names=['Anil', 'Amar', 'Kiran', 'Bala']
rows=User.select().where (User.name << names)
for row in rows:
   print ("name: {} age: {}".format(row.name, row.age))

name: Kiran age: 19
name: Amar age: 20

In [44]:
rows=User.select().where (User.name.startswith('R') | User.name.endswith('r'))
print(rows.sql())

('SELECT "t1"."user_id", "t1"."name", "t1"."age" FROM "User" AS "t1" WHERE (("t1"."name" LIKE ?) OR ("t1"."name" LIKE ?))', ['R%', '%r'])

### **Primary and Composite Keys**

In [19]:
db = SqliteDatabase('mydatabase2.db')

In [20]:
class User (Model):
   user_id=AutoField()
   name=TextField()
   age=IntegerField()
   class Meta:
      database=db
      db_table='User'

In [21]:
class User (Model):
   user_id=TextField(primary_key=True)
   name=TextField()
   age=IntegerField()
   class Meta:
      database=db
      db_table='User'
User.create_table()

In [22]:
User.create(user_id='A001',name="Rajesh", age=21)
b=User(user_id='A002',name="Amar", age=20)
b.save(force_insert=True)

1

In [101]:
class User (Model):
   name=TextField()
   city=TextField()
   age=IntegerField()
   class Meta:
      database=db
      db_table='User'
      primary_key=CompositeKey('name', 'city')
User.create_table()

### **Update Existing Record**

In [23]:
row=User.get(User.name=="Amar")
print ("name: {} age: {}".format(row.name, row.age))
row.age=25
row.save()

name: Amar age: 20

1

In [24]:
qry=User.update({User.age:25}).where(User.age>20)
print (qry.sql())
qry.execute()

('UPDATE "User" SET "age" = ? WHERE ("User"."age" > ?)', [25, 20])

2

In [25]:
rows=User.select()
rows[0].age=25
rows[1].age=23
User.bulk_update([rows[0], rows[1]], fields=[User.age])

2

### **Delete Records**

In [16]:
db = peewee.SqliteDatabase('mydatabase2db')

In [26]:
obj=User.get(User.name=="Amar")
obj.delete_instance()

1

In [28]:
db.create_tables([User])
qry=User.delete().where (User.age==25)
qry.execute()

('DELETE FROM "User" WHERE ("User"."age" = ?)', [25])

### **Create Index**

In [30]:
class MyUser(Model):
   username = CharField(unique=True)
   email = CharField(index=True)
   class Meta:
      database=db
      db_table='MyUser'
MyUser.create_table()

In [32]:
class MyUser (Model):
   name=TextField()
   city=TextField()
   age=IntegerField()
   class Meta:
      database=db
      db_table='MyUser'
      indexes=(
         (('name', 'city'), True),
      )

In [33]:
MyUser.add_index(SQL('CREATE INDEX idx on MyUser(name);'))

In [34]:
ind=MyUser.index(MyUser.name)
MyUser.add_index(ind)

### **Constraints**

In [42]:
class MyUser (Model):
   name=TextField()
   city=TextField()
   age=IntegerField(constraints=[Check('name<10')])
   class Meta:
      database=db
      db_table='MyUser'
MyUser.create_table()

In [ ]:
MyUser.create(name="Rajesh", city="Mumbai",age=9)
# peewee.IntegrityError: CHECK constraint failed: MyUser

In [51]:
city=TextField(constraints=[SQL("DEFAULT 'Mumbai'")])

### **Using MySQL**

In [55]:
import pymysql

conn = pymysql.connect(host='localhost', user='root', password='')
conn.cursor().execute('CREATE DATABASE mydatabase')
conn.close()

1

In [4]:
db = MySQLDatabase('mydatabase', host='localhost', port=3306, user='root', password='')
class MyUser (Model):
   name=TextField()
   city=TextField(constraints=[SQL("DEFAULT 'Mumbai'")])
   age=IntegerField()
   class Meta:
      database=db
      db_table='MyUser'
db.connect()
db.create_tables([MyUser])

### **Using PostgreSQL**

In [4]:
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [6]:
import psycopg2

conn = psycopg2.connect(host='localhost', user='postgres', password='postgres')
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
conn.cursor().execute('CREATE DATABASE mydatabase')
conn.close()

In [7]:
db = PostgresqlDatabase('mydatabase', host='localhost', port=5432, user='postgres', password='postgres')
class MyUser (Model):
   name=TextField()
   city=TextField(constraints=[SQL("DEFAULT 'Mumbai'")])
   age=IntegerField()
   class Meta:
      database=db
      db_table='MyUser'

db.connect()
db.create_tables([MyUser])

### **Defining Database Dynamically**

In [11]:
db_proxy = DatabaseProxy() # Create a proxy for our db.

class MyUser (Model):
   name=TextField()
   city=TextField(constraints=[SQL("DEFAULT 'Mumbai'")])
   age=IntegerField()
   class Meta:
      database=db_proxy
      db_table='MyUser_proxy'

# Based on configuration, use a different database.
# if app.config['TESTING']:
#    db = SqliteDatabase(':memory:')
# elif app.config['DEBUG']:
#    db = SqliteDatabase('mydatabase.db')
# else:
#    db = PostgresqlDatabase(
#       'mydatabase', host='localhost', port=5432, user='postgres', password='postgres'
#    )

# Configure our proxy to use the db we specified in config.
db_proxy.initialize(db)
# db.connect()
db.create_tables([MyUser])

In [15]:
class MyUser (Model):
   name=TextField()
   city=TextField(constraints=[SQL("DEFAULT 'Mumbai'")])
   age=IntegerField()

db = MySQLDatabase('mydatabase', host='localhost', port=3306, user='root', password='')
db.connect()
db.bind([MyUser])
db.create_tables([MyUser])

In [16]:
class MyUser (Model):
   name=TextField()
   city=TextField(constraints=[SQL("DEFAULT 'Mumbai'")])
   age=IntegerField()

db = MySQLDatabase('mydatabase', host='localhost', port=3306, user='root', password='')
db.connect()
MyUser.bind(db)
db.create_tables([MyUser])

### **Connection Management**

In [17]:
db=SqliteDatabase("mydatabase", autoconnect=False)

In [20]:
db.connect()

True

In [21]:
db.connect()

OperationalError: Connection already opened.

In [19]:
db.close()

True

In [22]:
db.connect(reuse_if_open=True)

False

In [23]:
if db.is_closed()==True:
   db.connect()

In [25]:
db = SqliteDatabase('mydatabase.db', autoconnect=False)

class User (Model):
   user_id=TextField(primary_key=True)
   name=TextField()
   age=IntegerField()
   class Meta:
      database=db
      db_table='User'
with db:
   db.create_tables([User])

### **Relationships and Joins**

In [28]:
db = SqliteDatabase('mydatabase.db')

class BaseModel(Model):
   class Meta:
      database = db

class Item(BaseModel):
   itemname = TextField()
   price = IntegerField()

class Brand(BaseModel):
   brandname = TextField()
   item = ForeignKeyField(Item, backref='brands')

class Bill(BaseModel):
   item = ForeignKeyField(Item, backref='bills')
   brand = ForeignKeyField(Brand, backref='bills')
   qty = DecimalField()

db.create_tables([Item, Brand, Bill])

In [30]:
qs=Brand.select().join(Item)
for q in qs:
    print("Brand ID:{} Item Name: {} Price: {}".format(q.id, q.brandname, q.item.price))

Brand ID:1 Item Name: Dell Price: 25000
Brand ID:2 Item Name: Epson Price: 12000
Brand ID:3 Item Name: HP Price: 25000
Brand ID:4 Item Name: IBall Price: 4000
Brand ID:5 Item Name: Sharp Price: 12000

In [32]:
qs=Bill.select().join(Brand).join(Item)
for q in qs:
    print("BillNo:{} Brand:{} Item:{} price:{} Quantity:{}".format(q.id, \
    q.brand.brandname, q.item.itemname, q.item.price, q.qty))

BillNo:1 Brand:HP Item:Laptop price:25000 Quantity:5
BillNo:2 Brand:Epson Item:Printer price:12000 Quantity:2
BillNo:3 Brand:IBall Item:Router price:4000 Quantity:5

### **Subqueries**

In [33]:
db = SqliteDatabase('mydatabase.db')

class BaseModel(Model):
   class Meta:
      database = db

class Contacts(BaseModel):
   RollNo = IntegerField()
   Name = TextField()
   City = TextField()

class Branches(BaseModel):
   RollNo = IntegerField()
   Faculty = TextField()

db.create_tables([Contacts, Branches])

In [35]:
faculty=Branches.select(Branches.RollNo).where(Branches.Faculty=="ETC")
names=Contacts.select().where (Contacts.RollNo .in_(faculty))

print ("RollNo and City for Faculty='ETC'")
for name in names:
   print ("RollNo:{} City:{}".format(name.RollNo, name.City))

db.close()

RollNo and City for Faculty='ETC'
RollNo:103 City:Indore
RollNo:104 City:Nasik
RollNo:108 City:Delhi
RollNo:110 City:Nasik

True

### **Sorting**

In [36]:
rows=Contacts.select().order_by(Contacts.City)
print ("Contact list in order of city")
for row in rows:
   print ("RollNo:{} Name: {} City:{}".format(row.RollNo,row.Name, row.City))

Contact list in order of city
RollNo:107 Name: Beena City:Chennai
RollNo:102 Name: Amar City:Delhi
RollNo:108 Name: John City:Delhi
RollNo:103 Name: Raam City:Indore
RollNo:101 Name: Anil City:Mumbai
RollNo:106 Name: Hema City:Nagpur
RollNo:104 Name: Leena City:Nasik
RollNo:109 Name: Jaya City:Nasik
RollNo:110 Name: Raja City:Nasik
RollNo:105 Name: Keshav City:Pune

In [37]:
rows=Contacts.select().order_by(Contacts.Name.desc())
print ("Contact list in descending order of Name")
for row in rows:
   print ("RollNo:{} Name: {} City:{}".format(row.RollNo,row.Name, row.City))

Contact list in descending order of Name
RollNo:110 Name: Raja City:Nasik
RollNo:103 Name: Raam City:Indore
RollNo:104 Name: Leena City:Nasik
RollNo:105 Name: Keshav City:Pune
RollNo:108 Name: John City:Delhi
RollNo:109 Name: Jaya City:Nasik
RollNo:106 Name: Hema City:Nagpur
RollNo:107 Name: Beena City:Chennai
RollNo:101 Name: Anil City:Mumbai
RollNo:102 Name: Amar City:Delhi

### **Counting and Aggregation**

In [38]:
qry=Contacts.select().where (Contacts.City=='Nasik').count()
print (qry)

3

In [39]:
db = SqliteDatabase('mydatabase.db')
class Contacts(BaseModel):
   RollNo = IntegerField()
   Name = TextField()
   City = TextField()
   class Meta:
      database = db

db.create_tables([Contacts])

qry=Contacts.select(Contacts.City, fn.Count(Contacts.City).alias('count')).group_by(Contacts.City)
print (qry.sql())
for q in qry:
   print (q.City, q.count)

('SELECT "t1"."City", Count("t1"."City") AS "count" FROM "contacts" AS "t1" GROUP BY "t1"."City"', [])
Chennai 1
Delhi 2
Indore 1
Mumbai 1
Nagpur 1
Nasik 3
Pune 1

### **SQL Functions**

In [42]:
db = SqliteDatabase('mydatabase.db')

class BaseModel(Model):
   class Meta:
      database = db

class Item(BaseModel):
   itemname = TextField()
   price = IntegerField()

class Brand(BaseModel):
   brandname = TextField()
   item = ForeignKeyField(Item, backref='brands')

class Bill(BaseModel):
   item = ForeignKeyField(Item, backref='bills')
   brand = ForeignKeyField(Brand,      backref='bills')
   qty = DecimalField()

db.create_tables([Item, Brand, Bill])

qs=Bill.select(Item.itemname, fn.SUM(Bill.qty).alias('Sum')).join(Item).group_by(Item.itemname)
print (qs.sql())
for q in qs:
   print ("Item: {} sum: {}".format(q.item.itemname, q.Sum))

db.close()

('SELECT "t1"."itemname", SUM("t2"."qty") AS "Sum" FROM "bill" AS "t2" INNER JOIN "item" AS "t1" ON ("t2"."item_id" = "t1"."id") GROUP BY "t1"."itemname"', [])
Item: Laptop sum: 6
Item: Printer sum: 8
Item: Router sum: 8

True

### **Retrieving Row Tuples/Dictionaries**

In [45]:
qry=Contacts.select(Contacts.City, fn.Count(Contacts.City).alias('count')).group_by(Contacts.City).tuples()
lst=[]
for q in qry:
   lst.append(q)
print(lst)

[('Chennai', 1), ('Delhi', 2), ('Indore', 1), ('Mumbai', 1), ('Nagpur', 1), ('Nasik', 3), ('Pune', 1)]

In [46]:
qs=Brand.select().join(Item).dicts()
lst=[]
for q in qs:
   lst.append(q)
print(lst)

[{'id': 1, 'brandname': 'Dell', 'item': 1}, {'id': 2, 'brandname': 'Epson', 'item': 2}, {'id': 3, 'brandname': 'HP', 'item': 1}, {'id': 4, 'brandname': 'IBall', 'item': 3}, {'id': 5, 'brandname': 'Sharp', 'item': 2}]

### **User defined Operators**

In [48]:
from peewee import Expression # the building block for expressions

class BaseModel(Model):
   class Meta:
      database = db

class Contacts(BaseModel):
   RollNo = IntegerField()
   Name = TextField()
   City = TextField()

db.create_tables([Contacts])

def mod(lhs, rhs):
   return Expression(lhs,'%', rhs)

qry=Contacts.select().where (mod(Contacts.id,2)==0)
print (qry.sql())

for q in qry:
   print (q.id, q.Name, q.City)

('SELECT "t1"."id", "t1"."RollNo", "t1"."Name", "t1"."City" FROM "contacts" AS "t1" WHERE (("t1"."id" % ?) = ?)', [2, 0])
2 Amar Delhi
4 Leena Nasik
6 Hema Nagpur
8 John Delhi
10 Raja Nasik

### **Atomic Transactions**

In [74]:
with db.atomic() as transaction:
   try:
      User.create(name='Amar', age=20)
      transaction.commit()
   except DatabaseError:
      transaction.rollback()

In [79]:
@db.atomic()
def create_user(nm,n):
   return User.create(name=nm, age=n)

create_user('Amar', 20)

In [80]:
with db.atomic() as txn1:
   User.create(name='Amar', age=20)

   with db.atomic() as txn2:
      User.get(name='Amar')

### **Query Builder**

In [81]:
Contacts=Table('Contacts', ('id', 'RollNo', 'Name', 'City'))
Contacts=Contacts.bind(db)

In [82]:
names=Contacts.select()
print(names.sql())
for name in names:
   print (name)

('SELECT "t1"."id", "t1"."RollNo", "t1"."Name", "t1"."City" FROM "Contacts" AS "t1"', [])
{'id': 1, 'RollNo': 101, 'Name': 'Anil', 'City': 'Mumbai'}
{'id': 2, 'RollNo': 102, 'Name': 'Amar', 'City': 'Delhi'}
{'id': 3, 'RollNo': 103, 'Name': 'Raam', 'City': 'Indore'}
{'id': 4, 'RollNo': 104, 'Name': 'Leena', 'City': 'Nasik'}
{'id': 5, 'RollNo': 105, 'Name': 'Keshav', 'City': 'Pune'}
{'id': 6, 'RollNo': 106, 'Name': 'Hema', 'City': 'Nagpur'}
{'id': 7, 'RollNo': 107, 'Name': 'Beena', 'City': 'Chennai'}
{'id': 8, 'RollNo': 108, 'Name': 'John', 'City': 'Delhi'}
{'id': 9, 'RollNo': 109, 'Name': 'Jaya', 'City': 'Nasik'}
{'id': 10, 'RollNo': 110, 'Name': 'Raja', 'City': 'Nasik'}

In [83]:
names=Contacts.select().tuples()
for name in names:
   print (name)

(1, 101, 'Anil', 'Mumbai')
(2, 102, 'Amar', 'Delhi')
(3, 103, 'Raam', 'Indore')
(4, 104, 'Leena', 'Nasik')
(5, 105, 'Keshav', 'Pune')
(6, 106, 'Hema', 'Nagpur')
(7, 107, 'Beena', 'Chennai')
(8, 108, 'John', 'Delhi')
(9, 109, 'Jaya', 'Nasik')
(10, 110, 'Raja', 'Nasik')

In [84]:
names=Contacts.select().namedtuples()
for name in names:
   print (name)

Row(id=1, RollNo=101, Name='Anil', City='Mumbai')
Row(id=2, RollNo=102, Name='Amar', City='Delhi')
Row(id=3, RollNo=103, Name='Raam', City='Indore')
Row(id=4, RollNo=104, Name='Leena', City='Nasik')
Row(id=5, RollNo=105, Name='Keshav', City='Pune')
Row(id=6, RollNo=106, Name='Hema', City='Nagpur')
Row(id=7, RollNo=107, Name='Beena', City='Chennai')
Row(id=8, RollNo=108, Name='John', City='Delhi')
Row(id=9, RollNo=109, Name='Jaya', City='Nasik')
Row(id=10, RollNo=110, Name='Raja', City='Nasik')

In [87]:
id = Contacts.insert(RollNo=111, Name='Abdul', City='Surat').execute()
print(id)

13

In [90]:
Records=[{'RollNo':112, 'Name':'Ajay', 'City':'Mysore'}, 
   {'RollNo':113, 'Name':'Majid','City':'Delhi'}]
Contacts.insert(Records).execute()

In [103]:
Records2=[(112, 'Ajay2','Mysore'), (113, 'Majid2','Delhi')]
Contacts.insert(Records2).execute()

ValueError: Missing value for City.

In [104]:
Contacts.update(City='Nagar').where((Contacts.City=='Nasik')).execute()

3

In [105]:
Contacts.delete().where(Contacts.Name=='Abdul').execute()

3

### **Integration with Web Frameworks**

In [107]:
from flask import Flask
from peewee import *

db = SqliteDatabase('mydatabase.db')
app = Flask(__name__)

@app.before_request
def _db_connect():
   db.connect()

@app.teardown_request
def _db_close(exc):
   if not db.is_closed():
      db.close()

In [108]:
def PeeweeConnectionMiddleware(get_response):
   def middleware(request):
      db.connect()
      try:
         response = get_response(request)
      finally:
         if not db.is_closed():
            db.close()
      return response
   return middleware

In [110]:
# settings.py
MIDDLEWARE_CLASSES = (
   # Our custom middleware appears first in the list.
   'my_blog.middleware.PeeweeConnectionMiddleware',
   #followed by default middleware list.
)

### **SQLite Extensions**

In [2]:
from playhouse.sqlite_ext import SqliteExtDatabase
from playhouse.sqlite_ext import *

In [34]:
db = SqliteDatabase('sqlite_ext.db')

In [33]:
class MyModel(Model):
   json_data = JSONField()

In [7]:
class NoteIndex(FTSModel):
   docid = DocIDField()
   content = SearchField()

   class Meta:
      database = db

In [9]:
from apsw_ext import *
db = APSWDatabase('testdb')

class BaseModel(Model):
   class Meta:
      database = db

class MyModel(BaseModel):
   field1 = CharField()
   field2 = DateTimeField()

NameError: name 'APSWDatabase' is not defined

### **MySQL Extensions**

In [31]:
from playhouse.mysql_ext import MySQLConnectorDatabase

db = MySQLConnectorDatabase('mysql_ext', host='localhost', user='root', password='')

### **PostgreSQL Extensions**

In [24]:
from playhouse.postgres_ext import *
import json

In [26]:
ext_db = PostgresqlExtDatabase('postgres', host='localhost', port=5432, user='postgres', password='postgres')

In [27]:
class BaseExtModel(Model):
    class Meta:
        database = ext_db

In [28]:
class Vehicles(BaseExtModel):
   type = CharField()
   features = HStoreField()

In [30]:
v=Vehicles.create(type='Car', specs={'mfg':'Maruti', 'Fuel':'Petrol', 'model':'Alto'})

InternalError: current transaction is aborted, commands ignored until end of transaction block

In [21]:
obj=Vehicles.get(Vehicles.id==v.id)
print (obj.features)

NameError: name 'v' is not defined

### **Using CockroachDB**

In [34]:
from playhouse.cockroachdb import CockroachDatabase

db = CockroachDatabase('my_app', user='root', host='10.1.0.8')

In [35]:
db = CockroachDatabase('postgresql://root:secret@host:26257/defaultdb...')